.section {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-small);
  width: 100%;
}

@media screen and (min-width: 768px) {
  .section {
    align-items: center;
    width: 50%;
  }
}
