.container {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-medium);
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and(min-width: 768px) and (orientation: landscape) {
  .container {
    margin: var(--spacing-small);
  }
}
